.hero-block {
    margin: 0px auto;
    max-width: 940px;
  }
  
  .hero-texts {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  
  .hero-name {
    font-family: "Gilroy-Bold";
    margin: 0;
  }
  
  .hero-age {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }
  
  .lang-btn {
    border: 0;
    background-color: white;
    font-family: "Gilroy-Bold";
    font-size: 16px;
    padding: 0;
  }
  
  .right-btn {
    border-left: 3px solid black;
    padding-left: 4px;
  }
  
  .eng-ru {
    transform: rotate(-90deg);
    padding-top: 41px;
  }
  
  .avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .avatarPhone{
    display: none;
}

@media (max-width: 660px) {
    
    .desktop-only {
      display: none;
    }

    .hero-texts {
      margin: 65px 0px 0px 26px;
      height: 150px;
      display: flex;
      margin-bottom: 50px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .avatarPhone {
        display: flex;
        padding: 0px 30px 80px 30px;
        justify-content: center;
        width: inherit;
    }
}