.about-me {
    background-color: #f6f6f6;
    margin-bottom: 90px;
    padding-bottom: 100px;
    padding-top: 130px;
  }
  
  .abt-m {
    font-family: "Gilroy-Bold";
    font-size: 34px;
    line-height: 42px;
    text-align: center;
  }
  
  .abt-txt {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }